header {
  min-height: 400px;
}
nav {
  padding: var(--padding);
  display: flex;
  text-align: right;
  justify-content: end;
  gap: 10px;
  align-items: center;

  position: relative;

  font-size: 0.8rem;
}
nav h3 {
  font-weight: 500;
}
nav .icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--main);
}

#logo {
  position: absolute;
  top: 0;
  max-height: 400px;

  object-fit: contain;
  width: 100%;
}

.contato,
main {
  font-weight: 600;
}

main {
  text-align: center;
  font-size: 1.2rem;
  line-height: 110%;
  font-weight: 600;
  padding: var(--padding);
}

.contato {
  text-align: center;
  padding: var(--padding);
  padding-top: 50px;
  padding-bottom: 200px;
}

@media screen and (min-width: 750px) {
  header {
    min-height: unset;
    height: 200px;
  }

  nav {
    font-size: 1.2rem;
  }

  #logo {
    max-height: 230px;
    left: 0;
    width: unset;
  }

  main,
  .contato {
    text-align: right;
    font-size: 200%;
    font-weight: 500;
  }
}
